#search-form-container fieldset{
  display: none;
}
#print-search-info {
  display: block;
}

#pagination-controls {
  display: none;
}

footer {
  display: none;
}


#saved-searches-container {
  display: none;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
